.Image {
  background-image: url("./rectangle.svg");
  height: 90vh;
  width: 100%;
  position: relative;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchbar {
  /* position: relative; */
  width: 60%;
  height: 57px;
  /* left: 30%;
  top: 45%; */
  display: flex;
  flex-direction: row;
  background: #ffffff;
  border-radius: 2000px;
  justify-content: flex-end;
  border: none;
  /* font-size: 1rem; */
}
.search-input {
  width: 100%;
  border-radius: 50px 0px 0px 50px;
  border: none;
  color: black;
  font-size: 20px;
}
::placeholder {
  padding-left: 16px;
  font-size: 1rem;
}
.search-btn {
  width: 20%;
  height: 57px;
  border: none;
  color: white;
  background: linear-gradient(90deg, #000080 0%, #0505da 100%);
  /* url("./search.svg") no-repeat 5px center; */
  border-radius: 0px 50px 50px 0px;
}
@media only screen and (max-width: 480px) {
  .search-input::placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    /* text-align: center;
    font-weight: bold;
    font-size: 0.7rem;
    line-height: 2rem; */
    font-size: 0.7rem;
    font-weight: bold;
  }
  .searchbar {
    width: 80%;
  }
}
