.product-main {
  display: flex;
  flex-direction: row;
  padding: 20px;
  margin-bottom: 40px;
  margin-top: 100px;
}
.product-left {
  width: 50%;
  text-align: left;
}
.rectangle {
  position: relative;
  width: 450px;
  height: 300px;
  background: #bebebe;
  border-radius: 30px;
}
.circle {
  position: absolute;
  width: 14rem;
  height: 14rem;
  left: 320px;
  bottom: 189px;
  background-color: #d9d9d9;
  border-radius: 100%;
  flex: 1;
  margin-top: 40px;
}
@media only screen and (max-width: 960px) {
  .product-main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  .product-right {
    margin-top: 140px;
    /* padding-left: 40px; */
  }
}
@media only screen and (max-width: 600px) {
  .product-main {
    padding: 0;
  }
  .rectangle {
    width: 260px;
    height: 230px;
  }
  .circle {
    left: 180px;
    bottom: 175px;
    height: 7rem;
    width: 7rem;
  }
}
@media only screen and (max-width: 380px) {
  .rectangle {
    width: 200px;
    height: 190px;
  }
  .circle {
    left: 120px;
    bottom: 120px;
    height: 7rem;
    width: 7rem;
  }
}
